In [1]:
# Data Cleaning Procedure using python 3
# Remove empty columns and filter data by selected airline.

In [2]:
import pandas as pd
import numpy as np

In [3]:
import os

In [3]:
# Import CSV from working directory
df = pd.read_csv("../data/Operational_statistics_for_major_Canadian_airlines.csv")

In [6]:
#take a look at the imported CSV file.
df.head(10)

,REF_DATE,GEO,DGUID,Airlines,Services,Operational statistics,UOM(Unit of Metrics),UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,10-Jan,Canada,2016A000011124,Air Canada,Total services,Passengers,Number,223,thousands,3,1820.0,NaN,NaN,NaN,0
1,10-Jan,Canada,2016A000011124,Air Canada,Total services,Passenger-kilometres,Number,223,thousands,3,5793519.0,NaN,NaN,NaN,0
2,10-Jan,Canada,2016A000011124,Air Canada,Total services,Available seat-kilometres,Number,223,thousands,3,7341802.0,NaN,NaN,NaN,0
3,10-Jan,Canada,2016A000011124,Air Canada,Total services,Goods carried,Kilograms,192,thousands,3,17969.0,NaN,NaN,NaN,0
4,10-Jan,Canada,2016A000011124,Air Canada,Total services,Goods tonne-kilometres,Number,223,thousands,3,112798.0,NaN,NaN,NaN,0

In [7]:
# Now remove columns with completly empty data values (status, symbol and terminated)
# df.drop(["STATUS","SYMBOL","TERMINATED"], axis = 1) OR
df_new = df.drop(df.columns[[11,12,13]], axis = 1)

In [8]:
# Split "REF_DATE" column creating a new "year" and "month" column
#split = df_new ['REF_DATE'].str.split('-',n=1, expand = True) .rename(columns={0:'YEAR', 1: 'MONTH'})
df_new[['YEAR','MONTH']] = df_new ['REF_DATE'].str.split('-',n=1, expand = True)
df_new

,REF_DATE,GEO,DGUID,Airlines,Services,Operational statistics,UOM(Unit of Metrics),UOM_ID,SCALAR_FACTOR,SCALAR_ID,VALUE,DECIMALS,YEAR,MONTH
0,10-Jan,Canada,2016A000011124,Air Canada,Total services,Passengers,Number,223,thousands,3,1820.0,0,10,Jan
1,10-Jan,Canada,2016A000011124,Air Canada,Total services,Passenger-kilometres,Number,223,thousands,3,5793519.0,0,10,Jan
2,10-Jan,Canada,2016A000011124,Air Canada,Total services,Available seat-kilometres,Number,223,thousands,3,7341802.0,0,10,Jan
3,10-Jan,Canada,2016A000011124,Air Canada,Total services,Goods carried,Kilograms,192,thousands,3,17969.0,0,10,Jan
4,10-Jan,Canada,2016A000011124,Air Canada,Total services,Goods tonne-kilometres,Number,223,thousands,3,112798.0,0,10,Jan
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2915,16-Jan,Canada,2016A000011124,WestJet,Total charter services,Passengers,Number,223,thousands,3,10.0,0,16,Jan
2916,16-Jan,Canada,2016A000011124,WestJet,Total charter services,Passenger-kilometres,Number,223,thousands,3,8433.0,0,16,Jan
2917,16-Jan,Canada,2016A000011124,WestJet,Total charter services,Available seat-kilometres,Number,223,thousands,3,8433.0,0,16,Jan
2918,16-Jan,Canada,2016A000011124,WestJet,Total charter services,Goods carried,Kilograms,192,thousands,3,0.0,0,16,Jan
2919,16-Jan,Canada,2016A000011124,WestJet,Total charter services,Goods tonne-kilometres,Number,223,thousands,3,0.0,0,16,Jan

In [9]:
# filter "df" by airline type and by " total services"
air = (df_new['Airlines'] == 'Air Canada')
air_1 = (df_new['Airlines'] == 'WestJet')
serv = (df_new['Services'] == 'Total services')
# For this assessmemt, Air Canada is the chosen airline, WestJet is the competitor airline,
# and Total services is the service of interest.

In [10]:
df_filt_AC = df_new.loc[air & serv]
df_filt_WJ = df_new.loc[air_1 & serv]
df_filt_AC.head()
df_filt_AC.to_csv('C:\\Users\\ij\\Documents\\CAREER DOCUMENTS\\ALL RESUMES\\RECENT\\IBM_Associate_Data_Scientist\\IBM-Assessment\\__MACOSX\\IBM-Assessment\AirCanada.csv')

In [11]:
df_filt_AC = df_new.loc[air & serv]
df_filt_WJ = df_new.loc[air_1 & serv]
df_filt_WJ.head()
df_filt_WJ.to_csv('C:\\Users\\ij\\Documents\\CAREER DOCUMENTS\\ALL RESUMES\\RECENT\\IBM_Associate_Data_Scientist\\IBM-Assessment\\__MACOSX\\IBM-Assessment\WestJet.csv')

In [12]:
# PART 1
# A) In the year of 2011, which month had the higher number of passengers carried and for
    # the same month draw the comparison with another competitor.
# Strategy: filter df_filt_AC by operational statistics being = passengers and year = 2011, 
op_stats = (df_filt_AC['Operational statistics'] == 'Passengers')
year = (df_filt_AC['YEAR'] == '11')
filt= df_filt_AC.loc[op_stats & year]
filt
# then determine maximum value using the "Value" variable and locate the month.
column = filt ["VALUE"]
max_value = column.max()
#print(int(max_value))
print('The highest number of passengers carried in the year of 2011 is {0}'.format (int(max_value)))
# To determine the month which had the higher number of passengers carried for the year 2011
high_pass = filt[filt['VALUE'] == max_value]
month_high_pass = high_pass['MONTH'].values[0]
print("Therefore, the month with the highest number of passengers is", month_high_pass)
print ("_____________________________________________________________________")
# Comparing with another competitor for the month of Aug in the year 2011
op_stats_1 = (df_filt_WJ['Operational statistics'] == 'Passengers')
year_1 = (df_filt_WJ['YEAR'] == '11')
month = (df_filt_WJ['MONTH'] == 'Aug')
filt_1 = df_filt_WJ.loc[op_stats_1 & year_1 & month]
comp = filt_1['VALUE']
print('In the year of 2011, and the month of Aug, the number of passengers for competitor airline is {0}'
      .format (int(comp)))

The highest number of passengers carried in the year of 2011 is 2455
Therefore, the month with the highest number of passengers is Aug
_____________________________________________________________________
In the year of 2011, and the month of Aug, the number of passengers for competitor airline is 1488

In [13]:
# B) Which year had the greatest number of hours flown and its turbo fuel consumption?
    # Draw the comparison with another competitor.
# Strategy: filter df by Operational statistics being = Hours flown 
op_stats_3 = (df_filt_AC['Operational statistics'] == 'Hours flown')
filt_3= df_filt_AC.loc[op_stats_3]
filt_3.YEAR.unique()
# Categorize by year and calculate maximum hours flown for each category
cat_1 = filt_3[filt_3['YEAR'] == '10']
col_1 = cat_1 ["VALUE"]
max_value_1 = col_1.max()
print('The maximum hours flown in 2010 is {0}'.format (int(max_value_1)))
cat_2 = filt_3[filt_3['YEAR'] == '11']
col_2 = cat_2 ["VALUE"]
max_value_2 = col_2.max()
print('The maximum hours flown in 2011 is {0}'.format (int(max_value_2)))
cat_3 = filt_3[filt_3['YEAR'] == '12']
col_3 = cat_3 ["VALUE"]
max_value_3 = col_3.max()
print('The maximum hours flown in 2012 is {0}'.format (int(max_value_3)))
cat_4 = filt_3[filt_3['YEAR'] == '13']
col_4 = cat_4 ["VALUE"]
max_value_4 = col_4.max()
print('The maximum hours flown in 2013 is {0}'.format (int(max_value_4)))
cat_5 = filt_3[filt_3['YEAR'] == '14']
col_5 = cat_5 ["VALUE"]
max_value_5 = col_5.max()
print('The maximum hours flown in 2014 is {0}'.format (int(max_value_5)))
cat_6 = filt_3[filt_3['YEAR'] == '15']
col_6 = cat_6 ["VALUE"]
max_value_6 = col_6.max()
print('The maximum hours flown in 2015 is {0}'.format (int(max_value_6)))
cat_7 = filt_3[filt_3['YEAR'] == '16']
col_7 = cat_7 ["VALUE"]
max_value_7 = col_7.max()
print('The maximum hours flown in 2016 is {0}'.format (int(max_value_7)))
print('Thus, the year which had the greatest number of hours flown is 2015')

# to derive the turbo fuel consumption for the year 2015, filter df by year = 2015
year_filt= (df_filt_AC['YEAR'] == '15')
filt_2015= df_filt_AC.loc[year_filt]
filt_2015
# categorize df by hours flown and by turbo fuel consumption 
op_stats_4 = (filt_2015['Operational statistics'] == 'Hours flown')
filt_2015_HF = filt_2015.loc[op_stats_4]
op_stats_5 = (filt_2015['Operational statistics'] == 'Turbo fuel consumed')
filt_2015_TFC = filt_2015.loc[op_stats_5]
# Drop unwanted columns form one of the df, rename column name and perform join with "filt_2015_TFC"
HF_2015_new = filt_2015_HF.drop(filt_2015_HF.columns[[0,1,3,4,5,6,7,8,9,11,13]], axis = 1)
# rename Value to HF_Value to distingish between value for Hours flown and value for turbo fuel consumption 
HF_2015_rename = HF_2015_new.rename(columns = {'VALUE' : 'HF_VALUE'})
# merge filt_2015_TFC and  HF_2015_rename
df_HF_TFC = pd.merge(filt_2015_TFC, HF_2015_rename, on = "DGUID", how = "right")
# To know the Turbuo fuel comsumption in 2015 calculate the sum
TFC_2015 = df_HF_TFC ['VALUE'].sum()
print('The turbo fuel consumption in 2015 is {0} liters'.format (int(TFC_2015)))

The maximum hours flown in 2010 is 78
The maximum hours flown in 2011 is 79
The maximum hours flown in 2012 is 80
The maximum hours flown in 2013 is 76
The maximum hours flown in 2014 is 79
The maximum hours flown in 2015 is 86
The maximum hours flown in 2016 is 69
Thus, the year which had the greatest number of hours flown is 2015
The turbo fuel consumption in 2015 is 47284524 liters

In [14]:
# Reapet to compare with competitor airline (airline WJ)
# Strategy: filter df_filt_WJ by operational statistics being = passengers and year = 2011, 
# Strategy: filter df by Operational statistics being = Hours flown 
op_stats_W = (df_filt_WJ['Operational statistics'] == 'Hours flown')
filt_W = df_filt_WJ.loc[op_stats_W]
# Categorize by year and calculate maximum hours flown for each category
cat_W1 = filt_W[filt_W['YEAR'] == '10']
col_W1 = cat_W1 ["VALUE"]
max_value_W1 = col_W1.max()
print('The maximum hours flown in 2010 for competitor airline is {0}'.format (int(max_value_W1)))
cat_W2 = filt_W[filt_W['YEAR'] == '11']
col_W2 = cat_W2 ["VALUE"]
max_value_W2 = col_W2.max()
print('The maximum hours flown in 2011 for competitor airline is {0}'.format (int(max_value_W2)))
cat_W3 = filt_W[filt_W['YEAR'] == '12']
col_W3 = cat_W3 ["VALUE"]
max_value_W3 = col_W3.max()
print('The maximum hours flown in 2012 for competitor airline is {0}'.format (int(max_value_W3)))
cat_W4 = filt_W[filt_W['YEAR'] == '13']
col_W4 = cat_W4 ["VALUE"]
max_value_W4 = col_W4.max()
print('The maximum hours flown in 2013 for competitor airline is {0}'.format (int(max_value_W4)))
cat_W5 = filt_W[filt_W['YEAR'] == '14']
col_W5 = cat_W5 ["VALUE"]
max_value_W5 = col_W5.max()
print('The maximum hours flown in 2014 for competitor airline is {0}'.format (int(max_value_W5)))
cat_W6 = filt_W[filt_W['YEAR'] == '15']
col_W6 = cat_W6 ["VALUE"]
max_value_W6 = col_W6.max()
print('The maximum hours flown in 2015 for competitor airline is {0}'.format (int(max_value_W6)))
cat_W7 = filt_W[filt_W['YEAR'] == '16']
col_W7 = cat_W7 ["VALUE"]
max_value_W7 = col_W7.max()
print('The maximum hours flown in 2016 for competitor airline is {0}'.format (int(max_value_W7)))
print('Thus, the year which had the greatest number of hours flown for competitor airline is 2016')
# to derive the turbo fuel consumption for the year 2016, filter df by year = 2016
year_filt_2016 = (df_filt_WJ['YEAR'] == '16')
filt_2016 = df_filt_WJ.loc[year_filt_2016]
filt_2016
# categorize df by hours flown and by turbo fuel consumption 
op_stats_W4 = (filt_2016['Operational statistics'] == 'Hours flown')
filt_2016_HF = filt_2016.loc[op_stats_W4]
op_stats_W5 = (filt_2016['Operational statistics'] == 'Turbo fuel consumed')
filt_2016_TFC = filt_2016.loc[op_stats_W5]
# Drop unwanted columns form one of the df, rename column name and perform join with "filt_2015_TFC"
HF_2016_new = filt_2016_HF.drop(filt_2016_HF.columns[[0,1,3,4,5,6,7,8,9,11,13]], axis = 1)
# rename Value to HF_Value to distingish between value for Hours flown and value for turbo fuel consumption 
HF_2016_rename = HF_2016_new.rename(columns = {'VALUE' : 'HF_VALUE'})
# merge filt_2015_TFC and  HF_2015_rename
Wdf_HF_TFC = pd.merge(filt_2016_TFC, HF_2016_rename, on = "DGUID", how = "right")
# To know the Turbuo fuel comsumption in 2016 calculate the sum
TFC_2016 = Wdf_HF_TFC ['VALUE'].sum()
print('The turbo fuel consumption in 2016 is {0} liters'.format (int(TFC_2016)))

The maximum hours flown in 2010 for competitor airline is 33
The maximum hours flown in 2011 for competitor airline is 35
The maximum hours flown in 2012 for competitor airline is 37
The maximum hours flown in 2013 for competitor airline is 40
The maximum hours flown in 2014 for competitor airline is 42
The maximum hours flown in 2015 for competitor airline is 46
The maximum hours flown in 2016 for competitor airline is 48
Thus, the year which had the greatest number of hours flown for competitor airline is 2016
The turbo fuel consumption in 2016 is 120514 liters

In [15]:
# C) Come up with interesting analysis to draw comparisons between 2 airlines and help
    # your client win the deal.
# Purpose of analysis: To to draw comparisons between 2 airlines in order to highlight KPIs for client;
# using the operational statistics of the monthly civil aviation survey data with a focus on Total services.

# Strategy: use the year which has the greatest number of hours flown for both airlines, compare the ratio 
# of the total Passenger-kilometres of that year, with the total turbo fuel consumption of that year
# for both airlines.

# airline AC analysis:
# Strategy: filter df_filt_AC by operational statistics being = Passenger-kilometres and year = 2015 
stats = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
year = (df_filt_AC['YEAR'] == '15')
air_AC= df_filt_AC.loc[stats & year]
# find the total passenger kilometer for 2015
air_AC_sum = air_AC ['VALUE'].sum()
print('The total passenger kilometer for chosen airline in 2015 is {0}'.format (int(air_AC_sum)))
# find the ratio of the total passenger kilometer to total turbo fuel consumption calculated in the 
# previous step; air_AC_sum : TFC_2015
a = air_AC_sum 
b = TFC_2015
def ratio(a, b):
    a = float(a)
    b = float(b)
    if b == 0:
        return a
    return ratio(b, a % b)
print('Ratio of total passenger kilometer to total turbo fuel consumption for chosen airline is {0}'.format (ratio(b, a % b)))

# airline WJ analysis:
# Strategy: filter df_filt_WJ by operational statistics being = Passenger-kilometres and year = 2016
stats_1 = (df_filt_WJ['Operational statistics'] == 'Passenger-kilometres')
year_1 = (df_filt_WJ['YEAR'] == '16')
air_WJ= df_filt_WJ.loc[stats_1 & year_1]
# find the sum passenger kilometer for 2016
air_WJ_sum = air_WJ ['VALUE'].sum()
print('The total passenger kilometer for competitor airline in 2016 is {0}'.format (int(air_WJ_sum)))
# find the ratio of the total passenger kilometer to total turbo fuel consumption calculated in the 
# previous step; air_WJ_sum : TFC_2016
c = air_WJ_sum
d = TFC_2016
def ratio(c, d):
    c = float(c)
    d = float(d)
    if d == 0:
        return c
    return ratio(d, c % d)
print('Ratio of total passenger kilometer to total turbo fuel consumption for competior airline is {0}'.format (ratio(d, c % d)))

The total passenger kilometer for chosen airline in 2015 is 100169337
Ratio of total passenger kilometer to total turbo fuel consumption for chosen airline is 3.0
The total passenger kilometer for competitor airline in 2016 is 3214729
Ratio of total passenger kilometer to total turbo fuel consumption for competior airline is 1.0

In [16]:
# D) Find the busiest quarter in all the years for your client. Use your own judgement to
    # choose “operational statistics” in order to derive the metric.
# Operational statistics chosen = Passenger-kilometres
# The reason for choosing Passenger-kilometres is because it is an important metric
# for indicating the demand in a given market. It is useful in measuring sales volume simply in terms of 
# revenue passengers combined with the distances flown. 

# filter 'df_filt_AC' by 2010 and 'Passenger-kilometres' Categorize into 4 quaters
time = (df_filt_AC['YEAR'] == '10')
oper_stat = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
df_busy = df_filt_AC.loc[time & oper_stat]
# Categorize into 4 quaters
df_2010_Q1 = df_busy[df_busy['MONTH'].str.contains('Jan|Feb|Mar')]
df_2010_Q2 = df_busy[df_busy['MONTH'].str.contains('Apr|May|Jun')]
df_2010_Q3 = df_busy[df_busy['MONTH'].str.contains('Jul|Aug|Sep')]
df_2010_Q4 = df_busy[df_busy['MONTH'].str.contains('Oct|Nov|Dec')]
# calculate the sum, then find the maximum to determine the busiest quater
sum2010_Q1 = df_2010_Q1 ['VALUE'].sum()
sum2010_Q2 = df_2010_Q2 ['VALUE'].sum()
sum2010_Q3 = df_2010_Q3 ['VALUE'].sum()
sum2010_Q4 = df_2010_Q4 ['VALUE'].sum()
busy_2010 = [sum2010_Q1, sum2010_Q2, sum2010_Q3, sum2010_Q4]
max2010 = 0
for v in busy_2010:
    if v > max2010:
        max2010 = v
print('The maximum for 2020 is {0}'.format (int(max2010)))
#The maximum for 2020 is 23384738 which makes "df_2010_Q3" (3rd Quater) the busiest quarter in 2010   
            
# filter 'df_filt_AC' by 2011 and 'Passenger-kilometres' and Categorize into 4 quaters
time_1 = (df_filt_AC['YEAR'] == '11')
oper_stat_1 = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
df_busy_1 = df_filt_AC.loc[time_1 & oper_stat_1]
df_2011_Q1 = df_busy_1[df_busy_1['MONTH'].str.contains('Jan|Feb|Mar')]
df_2011_Q2 = df_busy_1[df_busy_1['MONTH'].str.contains('Apr|May|Jun')]
df_2011_Q3 = df_busy_1[df_busy_1['MONTH'].str.contains('Jul|Aug|Sep')]
df_2011_Q4 = df_busy_1[df_busy_1['MONTH'].str.contains('Oct|Nov|Dec')]
# calculate the sum, then find the maximum to determine the busiest quater
sum2011_Q1 = df_2011_Q1 ['VALUE'].sum()
sum2011_Q2 = df_2011_Q2 ['VALUE'].sum()
sum2011_Q3 = df_2011_Q3 ['VALUE'].sum()
sum2011_Q4 = df_2011_Q4 ['VALUE'].sum()
busy_2011 = [sum2011_Q1, sum2011_Q2, sum2011_Q3, sum2011_Q4]
max2011 = 0
for v in busy_2011:
    if v > max2011:
        max2011 = v
print('The maximum for 2011 is {0}'.format (int(max2011)))
#The maximum for 2011 is 24200814 which makes "df_2011_Q3" (3rd Quater) the busiest quarter in 2011
# filter 'df_filt_AC' by 2012 and Categorize into 4 quaters
time_2 = (df_filt_AC['YEAR'] == '12')
oper_stat_2 = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
df_busy_2 = df_filt_AC.loc[time_2 & oper_stat_2]
df_2012_Q1 = df_busy_2[df_busy_2['MONTH'].str.contains('Jan|Feb|Mar')]
df_2012_Q2 = df_busy_2[df_busy_2['MONTH'].str.contains('Apr|May|Jun')]
df_2012_Q3 = df_busy_2[df_busy_2['MONTH'].str.contains('Jul|Aug|Sep')]
df_2012_Q4 = df_busy_2[df_busy_2['MONTH'].str.contains('Oct|Nov|Dec')]
# calculate the sum, then find the maximum to determine the busiest quater
sum2012_Q1 = df_2012_Q1 ['VALUE'].sum()
sum2012_Q2 = df_2012_Q2 ['VALUE'].sum()
sum2012_Q3 = df_2012_Q3 ['VALUE'].sum()
sum2012_Q4 = df_2012_Q4 ['VALUE'].sum()
busy_2012 = [sum2012_Q1, sum2012_Q2, sum2012_Q3, sum2012_Q4]
max2012 = 0
for v in busy_2012:
    if v > max2012:
        max2012 = v
print('The maximum for 2012 is {0}'.format (int(max2012)))
#The maximum for 2012 is 24288625 which makes "df_2012_Q3" (3rd Quater) the busiest quarter in 2012
# filter 'df_filt_AC' by 2013 and Categorize into 4 quaters
time_3 = (df_filt_AC['YEAR'] == '13')
oper_stat_3 = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
df_busy_3 = df_filt_AC.loc[time_3 & oper_stat_3]
df_2013_Q1 = df_busy_3[df_busy_3['MONTH'].str.contains('Jan|Feb|Mar')]
df_2013_Q2 = df_busy_3[df_busy_3['MONTH'].str.contains('Apr|May|Jun')]
df_2013_Q3 = df_busy_3[df_busy_3['MONTH'].str.contains('Jul|Aug|Sep')]
df_2013_Q4 = df_busy_3[df_busy_3['MONTH'].str.contains('Oct|Nov|Dec')]
# calculate the sum, then find the maximum to determine the busiest quater
sum2013_Q1 = df_2013_Q1 ['VALUE'].sum()
sum2013_Q2 = df_2013_Q2 ['VALUE'].sum()
sum2013_Q3 = df_2013_Q3 ['VALUE'].sum()
sum2013_Q4 = df_2013_Q4 ['VALUE'].sum()
busy_2013 = [sum2013_Q1, sum2013_Q2, sum2013_Q3, sum2013_Q4]
max2013 = 0
for v in busy_2013:
    if v > max2013:
        max2013 = v
print('The maximum for 2013 is {0}'.format (int(max2013)))
#The maximum for 2013 is 24103728 which makes "df_2013_Q3" (3rd Quater) the busiest quarter in 2013
# filter 'df_filt_AC' by 2014 and Categorize into 4 quaters
time_4 = (df_filt_AC['YEAR'] == '14')
oper_stat_4 = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
df_busy_4 = df_filt_AC.loc[time_4 & oper_stat_4]
df_2014_Q1 = df_busy_4[df_busy_4['MONTH'].str.contains('Jan|Feb|Mar')]
df_2014_Q2 = df_busy_4[df_busy_4['MONTH'].str.contains('Apr|May|Jun')]
df_2014_Q3 = df_busy_4[df_busy_4['MONTH'].str.contains('Jul|Aug|Sep')]
df_2014_Q4 = df_busy_4[df_busy_4['MONTH'].str.contains('Oct|Nov|Dec')]
# calculate the sum, then find the maximum to determine the busiest quater
sum2014_Q1 = df_2014_Q1 ['VALUE'].sum()
sum2014_Q2 = df_2014_Q2 ['VALUE'].sum()
sum2014_Q3 = df_2014_Q3 ['VALUE'].sum()
sum2014_Q4 = df_2014_Q4 ['VALUE'].sum()
busy_2014 = [sum2014_Q1, sum2014_Q2, sum2014_Q3, sum2014_Q4]
max2014 = 0
for v in busy_2014:
    if v > max2014:
        max2014 = v
print('The maximum for 2014 is {0}'.format (int(max2014)))
#The maximum for 2014 is 27529963 which makes "df_2014_Q3" (3rd Quater) the busiest quarter in 2014
# filter 'df_filt_AC' by 2015 and Categorize into 4 quaters
time_5 = (df_filt_AC['YEAR'] == '15')
oper_stat_5 = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
df_busy_5 = df_filt_AC.loc[time_5 & oper_stat_5]
df_2015_Q1 = df_busy_5[df_busy_5['MONTH'].str.contains('Jan|Feb|Mar')]
df_2015_Q2 = df_busy_5[df_busy_5['MONTH'].str.contains('Apr|May|Jun')]
df_2015_Q3 = df_busy_5[df_busy_5['MONTH'].str.contains('Jul|Aug|Sep')]
df_2015_Q4 = df_busy_5[df_busy_5['MONTH'].str.contains('Oct|Nov|Dec')]
# calculate the sum, then find the maximum to determine the busiest quater
sum2015_Q1 = df_2015_Q1 ['VALUE'].sum()
sum2015_Q2 = df_2015_Q2 ['VALUE'].sum()
sum2015_Q3 = df_2015_Q3 ['VALUE'].sum()
sum2015_Q4 = df_2015_Q4 ['VALUE'].sum()
busy_2015 = [sum2015_Q1, sum2015_Q2, sum2015_Q3, sum2015_Q4]
max2015 = 0
for v in busy_2015:
    if v > max2015:
        max2015 = v
print('The maximum for 2015 is {0}'.format (int(max2015)))
#The maximum for 2015 is 30527921 which makes "df_2015_Q3" (3rd Quater) the busiest quarter in 2015

# filter 'df_filt_AC' by 2016 and Categorize into 4 quaters
time_6 = (df_filt_AC['YEAR'] == '16')
oper_stat_6 = (df_filt_AC['Operational statistics'] == 'Passenger-kilometres')
df_busy_6 = df_filt_AC.loc[time_6 & oper_stat_6]
df_2016_Q1 = df_busy_6[df_busy_6['MONTH'].str.contains('Jan|Feb|Mar')]
df_2016_Q2 = df_busy_6[df_busy_6['MONTH'].str.contains('Apr|May|Jun')]
df_2016_Q3 = df_busy_6[df_busy_6['MONTH'].str.contains('Jul|Aug|Sep')]
df_2016_Q4 = df_busy_6[df_busy_6['MONTH'].str.contains('Oct|Nov|Dec')]
# calculate the sum, then find the maximum to determine the busiest quater
sum2016_Q1 = df_2016_Q1 ['VALUE'].sum()
sum2016_Q2 = df_2016_Q2 ['VALUE'].sum()
sum2016_Q3 = df_2016_Q3 ['VALUE'].sum()
sum2016_Q4 = df_2016_Q4 ['VALUE'].sum()
busy_2016 = [sum2016_Q1, sum2016_Q2, sum2016_Q3, sum2016_Q4]
max2016 = 0
for v in busy_2016:
    if v > max2016:
        max2016 = v
print('The maximum for 2016 is {0}'.format (int(max2016)))
#The maximum for 2016 is 7850406.
# Focusing on 'Total services' and using "Passenger-kilometres" as the operational statistics, 
# the year 2016 contained data values for the month of 'jan' only,
# which is contained in the 1st quater variable "sum2016_Q1".

The maximum for 2020 is 23384738
The maximum for 2011 is 24200814
The maximum for 2012 is 24288625
The maximum for 2013 is 24103728
The maximum for 2014 is 27529963
The maximum for 2015 is 30527921
The maximum for 2016 is 7850406

In [17]:
# Export results as csv